@@include("_header.html")
<main>
@@include("../blocks/modules/mount_item/mount_item.html")
@@include("../blocks/modules/content_block/content_block.html")
@@include("../blocks/modules/menu/menu.html")
@@include("../blocks/modules/bike/bike1.html")
@@include("../blocks/modules/bike/bike2.html")
@@include("../blocks/modules/bike/bike3.html")
@@include("../blocks/modules/bike/bike4.html")
@@include("../blocks/modules/bike/bike5.html")
@@include("../blocks/modules/bike/bike6.html")
@@include("../blocks/modules/bike/bike7.html")
@@include("../blocks/modules/bike/bike8.html")
@@include("../blocks/modules/bike/bike9.html")
</main>
@@include("_footer.html")