@import "main-bx";

.footer {
  width: 63%;
  display: flex;
  padding-top: 12px;
  padding-bottom: 30px;
  box-sizing: border-box;
  border-top: 1px solid #a1a1a1;
  @media (max-width: 1000px) {
    padding-bottom: 20px;
  }
  @media (max-width: 1880px) {
    width: 70%;
  }
  @media (max-width: 1700px) {
    width: 75%;
  }
  @media (max-width: 1580px) {
    width: 80%;
  }
  @media (max-width: 1485px) {
    width: 85%;
  }
  @media (max-width: 1250px) {
    width: 90%;
  }
  &__text {
    font-size: 13px;
    text-transform: uppercase;
    color: $color_gray;
    font-family: $accent_font_tt_med;
  }
}
